[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:amauri-castro/algashop-ordering.git
	branch = main
[submodule "docs"]
	path = docs
	url = git@github.com:amauri-castro/algashop-docs.git
	branch = main
[submodule "microservices/billing"]
	path = microservices/billing
	url = git@github.com:amauri-castro/algashop-billing.git
[submodule "microservices/product-catalog"]
	path = microservices/product-catalog
	url = git@github.com:amauri-castro/algashop-product-catalog.git
